body {
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'futura-pt', sans-serif;
    color: white;
}

.container {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 4fr 1fr;
    grid-gap: 50px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #01babc;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #01babc;
}

h1 {
    margin: 2%;
    font-size: 50px;
}

@media ( max-width: 50em ) {
    h1 {
        font-size: 2.3em;
      }
    }

@media ( max-width: 30em ) {
    h1 {
        font-size: 1.875em;
        }
    }

img {
    min-width: 40%;
    border-radius: 10%;
    box-shadow: 5px 5px 5px gray;
}

@media ( max-width: 85em ) {
    img {
            width: 50%;
        }
    }

@media ( max-width: 60em ) {
    img {
            width: 60%;
        }
    }

@media ( max-width: 45em ) {
    img {
            width: 90%;
        }
    }